mixin player
  a(href="" style="background-image: url('http://placecage.com/230/500')").player-thumb
    .player-meta
      .name  Dan Smith
      .position Kicker  


section.roster
  .flex.flex--center
    .col-50
      .player-wrap
        a(href="" style="background-image:(assets/img/post/thumbnails/FightClub.jpg)").player-thumb
        .player-meta
          .name Steve
    .col-50
      .col-1.order-first
        p  First Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius asperiores est, sit reiciendis doloribus quasi nesciunt dignissimos sed! Dicta nostrum harum, voluptate vel aliquam!

                


        
