
<header>
  <div class="header-position">
    <div class="site">
      <nav class="site--nav">
        <ul>
          <li><a href="">Home</a></li>
          <li><a href="#league">Around the league</a></li>
          <li><a href="">Roster</a></li>
          <li><a href="">Schedule</a></li>
          <li><a href="">Contact</a></li>
          <li><a href="">Photos</a></li>
        </ul>
      </nav>
      <div class="site--hero"></div>
      <div class="site--info">
        <h2>Welcome to the Fin Zone</h2>
        <p>the unoffical offical fan site</p>
      </div>
    </div>
  </div>
</header>