
<section class="roster">
  <div class="flex flex--center">
    <div class="col-50">
      <div class="player-wrap"><a href="" style="background-image:(assets/img/post/thumbnails/FightClub.jpg)" class="player-thumb"></a>
        <div class="player-meta">
          <div class="name">Steve</div>
        </div>
      </div>
    </div>
    <div class="col-50">
      <div class="col-1 order-first">
        <p> First Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius asperiores est, sit reiciendis doloribus quasi nesciunt dignissimos sed! Dicta nostrum harum, voluptate vel aliquam!</p>
      </div>
    </div>
  </div>
</section>