---
layout: default
---

<!--Players-->
<tr>
    <td>
        <a class="player-card-ref" data-height="{{post.height}}" data-weight="{{post.weight}}" data-school="{{post.school}}" data-season="{{post.season}}" href="#">{{post.name}}</a>
        <!-- <span class="player-card animated bounceIn">
            <img src="img/Ryan-Tannenhill.png">
            <h4>Ryan Tannenhill</h4>
            <ul>
                <li><strong>Height:</strong> &nbsp; <span>6'2"</span></li>
                <li><strong>Weight:</strong> &nbsp; <span>215lbs.</span></li>
                <li><strong>College:</strong> &nbsp; <span>Texas A&M </span></li>
            </ul>
        </span>-->
    </td>
    <td class="player-position">{{ post.position }}</td>
    <td class="years-in">{{ post.season }}</td>
</tr>
